.card{
  @include flex-container(column, space-between, center);
  padding: 100px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px $shadow-color;
  color: $primary-color;

}

.card p{
  text-transform: uppercase;
  font-weight: 600;

}

.card:hover{
  background-color: $primary-color;
  color: $background-color;
}