.request {
  @include flex-container(column, space-between, center);
}

.request h1{
  color: $primary-color;
}

.request-step{
  margin: 60px 0;
  @include flex-container(column,space-between,flex-start);
  height: 100px;
}

.request-form {
  margin-top: 50px;
}

.request-step p{
  color: $primary-color;
}

.request-step a{
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 50px;
  background-color: $primary-color;
  color: $background-color;
}

.request-step a:hover{
  background-color: $secondary-color;
  transition: .2s ease-in;
}