* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

// Import colors

@import "colors.module.scss";

// Import fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin flex-container($direction: row, $horizontal-spacing: space-between, $vertical-spacing: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $horizontal-spacing;
  align-items: $vertical-spacing;
}

.wrapper {
  width: 100%;
  padding: 30px 50px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-size: 48px;
  font-weight: 600;
}

.subheading {
  font-size: 24px;
  font-weight: 600;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
}


// Import styles

@import "common/_all.scss";
@import "Home/_all.scss";
